:root {
  --primary-green: #60B980;
  --primary-white: #FCFEFE;
  --primary-orange: #F2A13A;
  --secondary-orange: #E7713B;
  --primary-blue: #418ABF;
  --primary-red: #E06451;
  --primary-black: #454830;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
}

/* MAIN CONTAINER */

.main-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .main-container {
    flex-direction: row;
  }
}

/* BASE CARD STYLES */

.card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 600px) {
  .card-section {
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
  }
}

@media (min-width: 1200px) {
  .card-section {
    width: 80%;
  }
}

.card-section__card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--primary-white);
}

.card-section__card--icon {
  font-size: 7rem;
  margin-bottom: 1rem;
  color: var(--primary-white);
}

.card-section__card--text {
  font-size: 1.5rem;
  font-weight: 100;
  text-transform: uppercase;
}

/* CARD ONE STYLES */

.card-one {
  background-color: var(--primary-green);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--primary-white);
  padding: 1.5rem 1.5rem;
}

@media (min-width: 600px) {
  .card-one {
    flex: 2 0 auto;
  }
}

@media (min-width: 900px) {
  .card-one {
    height: 32rem;
  }
}

.card-one--header {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.card-one--text {
  font-size: 1.3rem;
}

.card-one--text:last-of-type {
  margin-bottom: 1rem;
}

.card-one--button {
  background-color: var(--primary-green);
  color: inherit;
  font: inherit;
  font-size: 1.4rem;
  border: 2px solid var(--primary-white);
  cursor: pointer;
  outline: inherit;
  width: 100%;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
  padding: 1rem 0;
}

.card-one--button:first-of-type {
  margin-bottom: 1rem;
}

.card-one--button:hover {
  background-color: var(--primary-white);
  color: var(--primary-green);
}

.card-one--icon {
  margin-right: 0.8rem;
  font-size: 1.2rem;
  vertical-align: baseline;
}

.nav {
  display: flex;
  height: 10rem;
  flex-direction: column;
}

@media (min-width: 600px) {
  .nav {
    width: 100%;
    height: 5rem;
    flex-direction: row;
  }
  .card-one--button {
    width: 40%;
  }
  .card-one--button:first-of-type {
    margin-right: 2rem;
    margin-bottom: 0;
  }
}

.nav__link {
  color: inherit;
  text-decoration: none;
}

.card-two,
.card-three,
.card-four,
.card-five,
.card-six,
.card-seven,
.card-eight {
  align-items: center;
  height: 29rem;
  width: 100%;
}

@media (min-width: 600px) {
  .card-two,
  .card-three,
  .card-four,
  .card-five,
  .card-six,
  .card-seven,
  .card-eight {
    width: 50%;
    height: 31rem;
  }
}

@media (min-width: 900px) {
  .card-two,
  .card-three,
  .card-four,
  .card-five,
  .card-six,
  .card-seven,
  .card-eight {
    width: 33.3%;
  }
  .card-two {
    height: 32rem;
  }
}

/* CARD TWO */

.card-two {
  background-color: var(--primary-orange);
}

/* CARD THREE */

.card-three,
.card-seven {
  background-color: var(--primary-blue);
}

/* CARD FOUR */

.card-four,
.card-eight {
  background-color: var(--primary-red);
}

/* CARD FIVE */

.card-five {
  background-color: var(--primary-green);
}

/* CARD SIX */

.card-six {
  background-color: var(--primary-orange);
}

@media (min-width: 900px) {
  .card-seven,
  .card-eight {
    flex: 1;
  }
}

/* PHOTO SECTION */

.photo-section {
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
  display: none;
  width: 52%;
  height: 101vh;
  background-image: url('../img/designface.jpg');
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.buttons-wrapper-img {
  border: 1px solid var(--primary-white);
  background-color: var(--primary-black);
  border-radius: 50%;
  fill: var(--primary-white);
  height: 4rem;
  padding: .8rem;
  width: 4rem;
  margin: 0 2rem;
}

.buttons-wrapper-img:hover {
  border: 1px solid var(--primary-black);
  background-color: var(--primary-white);
}

.buttons-wrapper-img svg {
  fill: "#fff";
}

.buttons-wrapper-img svg:hover path {
  fill: var(--primary-black);
}

@media (min-width: 1200px) {
  .photo-section {
    display: block;
  }
}