:root {
  --primary-green: #60B980;
  --primary-white: #FCFEFE;
  --primary-orange: #F2A13A;
  --secondary-orange: #E7713B;
  --primary-blue: #418ABF;
  --primary-red: #E06451;
  --primary-black: #454830;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
}

/* MAIN CONTAINER */

.main-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .main-container {
    flex-direction: row;
  }
}

/* BASE CARD STYLES */

.card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .card-section {
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
  }
}

@media screen and (min-width: 1200px) {
  .card-section {
    width: 80%;
  }
}

.card-section__card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--primary-white);
}

.card-section__card--icon {
  font-size: 7rem;
  margin-bottom: 1rem;
  color: var(--primary-white);
}

.card-section__card--text {
  font-size: 1.5rem;
  font-weight: 100;
  text-transform: uppercase;
}

/* CARD ONE STYLES */

.card-one {
  background-color: var(--primary-green);
  color: var(--primary-white);
  display: flex;
  font-family: 'Helvetica Neue', sans-serif;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 3rem;
}

@media screen and (min-width: 600px) {
  .card-one {
    flex: 2 0 auto;
  }
}

.card-one--header {
  font-size: 3rem;
  letter-spacing: 1.3px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.card-one--text {
  font-size: 1.5rem;
}

.card-one--text:last-of-type {
  margin-bottom: 1rem;
}

.card-one--button {
  background-color: var(--primary-green);
  color: inherit;
  font: inherit;
  font-size: 1.4rem;
  border: 2px solid var(--primary-white);
  cursor: pointer;
  outline: inherit;
  width: 100%;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
  padding: 1rem 0;
}

.card-one--button:first-of-type {
  margin-bottom: 1rem;
}

.card-one--button:hover {
  background-color: var(--primary-white);
  color: var(--primary-green);
}

.card-one--icon {
  margin-right: 0.8rem;
  font-size: 1.2rem;
  vertical-align: baseline;
}

.nav {
  display: flex;
  height: 10rem;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .nav {
    width: 100%;
    height: 5rem;
    flex-direction: row;
  }
  .card-one--button {
    width: 40%;
  }
  .card-one--button:first-of-type {
    margin-right: 2rem;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .card-one--button {
    width: 23%;
  }
}

.nav__link {
  color: inherit;
  text-decoration: none;
}

.card-two,
.card-three,
.card-four,
.card-five,
.card-six,
.card-seven,
.card-eight {
  align-items: center;
  height: 30rem;
  width: 100%;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .card-two,
  .card-three,
  .card-four,
  .card-five,
  .card-six,
  .card-seven,
  .card-eight {
    width: 50%;
    height: 28rem;
  }
  .card-eight {
    flex: 1;
  }
}

@media screen and (min-width: 900px) {
  .card-two,
  .card-three,
  .card-four,
  .card-five,
  .card-six,
  .card-seven,
  .card-eight {
    width: 33.3%;
    height: auto;
  }
  .card-seven,
  .card-eight {
    flex: 1;
  }
}

/* CARD TWO */

.card-two {
  background-color: var(--primary-orange);
}

/* CARD THREE */

.card-three,
.card-seven {
  background-color: var(--primary-blue);
}

/* CARD FOUR */

.card-four,
.card-eight {
  background-color: var(--primary-red);
}

/* CARD FIVE */

.card-five {
  background-color: var(--primary-green);
}

/* CARD SIX */

.card-six {
  background-color: var(--primary-orange);
}

@media screen and(min-width: 900px) {
  .card-seven,
  .card-eight {
    flex: 1;
  }
}

/* PHOTO SECTION */

.progress-indicators {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
}

.progress-indicators-button {
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

.progress-indicators-button:nth-of-type(2n),
.progress-indicators-button:nth-of-type(3n) {
  opacity: 0.6;
}

.progress-indicators-button:last-of-type {
  margin-right: 2.5rem;
}

.photo-section {
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
  display: none;
  width: 56%;
  height: 100vh;
  background-image: url('../img/designface.jpg');
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.buttons-wrapper-img {
  animation: jello-horizontal 0.9s both;
  border: 1px solid var(--primary-white);
  background-color: var(--primary-black);
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  border-radius: 50%;
  fill: var(--primary-white);
  height: 4rem;
  padding: .8rem;
  width: 4rem;
  margin: 0 2rem;
  transition: all .2s ease-in-out;
  position: relative;
}

.buttons-wrapper-img:hover {
  border: 1px solid var(--primary-black);
  background-color: var(--primary-green);
  cursor: pointer;
}

.fa-angle-left,
.fa-angle-right {
  color: var(--primary-white);
  font-size: 2.6rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1200px) {
  .photo-section {
    display: block;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-3-29 14:40:32
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}